In [1]:
import sqlite3
import pandas as pd

class Employee:

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay

    @property
    def fullname(self):
        return f'{self.first} {self.last}'
    
    @property
    def email(self):
        return f'{self.last}@mail.com'
    
# emp = Employee("John", "Doe", "3000")

In [2]:
conn = sqlite3.connect('data.db')
c = conn.cursor()

In [3]:
c.execute("""
    CREATE TABLE IF NOT EXISTS employees(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        first TEXT,
        last TEXT,
        pay INTEGER
    );
""")
conn.commit()
# conn.close()

In [4]:
# emp_1 = Employee('John', 'Doe', '3000')

# c.execute("""
#     INSERT INTO employees (first, last, pay)
#     VALUES (?, ?, ?)

# """, (emp_1.first, emp_1.last, emp_1.pay))
# conn.commit()

In [5]:
# emp_2 = Employee('Jane', 'Doe', '3000')

# c.execute("""
#     INSERT INTO employees (first, last, pay)
#     VALUES (?, ?, ?)

# """, (emp_2.first, emp_2.last, emp_2.pay))
# conn.commit()

In [6]:
emps = c.execute("""
    SELECT * FROM employees
""")
df = pd.DataFrame(emps)
df.columns = ["id", "first", "last", "pay"]
print(df)

   id first     last     pay
0   1  John      Doe    3000
1   2  John      Doe    3000
2   3  Jane      Doe    3000
3   4  Budi  Sadikin  10_000
4   5  Budi  Sadikin  10_000

In [7]:
def insert_emp(emp):
    with conn:
        c.execute("""
            INSERT INTO employees (first, last, pay)
            VALUES (?, ?, ?)

        """, (emp.first, emp.last, emp.pay))

In [8]:
emp = Employee('Budi', 'Sadikin', '10_000')
insert_emp(emp)

In [10]:
def get_all_emps():
    c.execute("""
        SELECT * FROM employees;
    """)
    return c.fetchall()
df = pd.DataFrame(get_all_emps())
print(df)

   0     1        2       3
0  1  John      Doe    3000
1  2  John      Doe    3000
2  3  Jane      Doe    3000
3  4  Budi  Sadikin  10_000
4  5  Budi  Sadikin  10_000
5  6  Budi  Sadikin  10_000

In [16]:
def get_emp_by_last(last):
    c.execute("""
        SELECT * FROM employees WHERE last = ?
    """, (last,))
    return c.fetchone()
print(get_emp_by_last("Doe"))

(1, 'John', 'Doe', 3000)

In [19]:
def get_emp_by_id(id):
    c.execute("""
        SELECT * FROM employees WHERE id = ?
    """, (id,))
    return c.fetchone()

def update_pay(id, pay):
    emp = get_emp_by_id(id)
    with conn:
        c.execute("""
            UPDATE employees SET pay = ? WHERE id = ?
        """, (pay, id))
    return get_emp_by_id(id)

print(update_pay(2, 2000))

(2, 'John', 'Doe', 2000)