In [1]:
import sqlite3
import pandas as pd
from employee import Employee

In [2]:
conn = sqlite3.connect('data.db')
c = conn.cursor()

In [3]:
c.execute("""
    CREATE TABLE IF NOT EXISTS employees(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        first TEXT,
        last TEXT,
        pay INTEGER
    );
""")
conn.commit()
# conn.close()

In [5]:
emp_1 = Employee('John', 'Doe', '3000')

c.execute("""
    INSERT INTO employees (first, last, pay)
    VALUES (?, ?, ?)

""", (emp_1.first, emp_1.last, emp_1.pay))
conn.commit()

In [7]:
emp_2 = Employee('Jane', 'Doe', '3000')

c.execute("""
    INSERT INTO employees (first, last, pay)
    VALUES (?, ?, ?)

""", (emp_2.first, emp_2.last, emp_2.pay))
conn.commit()

In [9]:
emps = c.execute("""
    SELECT * FROM employees
""")
df = pd.DataFrame(emps)
df.columns = ["id", "first", "last", "pay"]
print(df)

   id first last   pay
0   1  John  Doe  3000
1   2  John  Doe  3000
2   3  Jane  Doe  3000

In [12]:
def insert_emp(emp):
    with conn:
        c.execute("""
            INSERT INTO employees (first, last, pay)
            VALUES (?, ?, ?)

        """, (emp.first, emp.last, emp.pay))

In [13]:
emp = Employee('Budi', 'Sadikin', '10_000')
insert_emp(emp)