In [1]:
import sqlite3
import pandas as pd

class Employee:
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        
    @property
    def fullname(self):
        return f"{first} {last}"
    
    @property
    def email(self):
        return f"{first}@mail.com"

In [2]:
conn = sqlite3.connect("meet09.db")
c = conn.cursor()

c.execute("""
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        first TEXT,
        last TEXT,
        pay INTEGER
    );

""")

conn.commit()

In [4]:
emp = Employee("John", "Doe", 10000)
c.execute("""
    INSERT INTO employees (first, last, pay) VALUES (? , ? , ?) 
""", (emp.first, emp.last, emp.pay))

conn.commit()

In [5]:
emp_2 = Employee("Jane", "Doe", 20000)
c.execute("""
    INSERT INTO employees (first, last, pay) VALUES (? , ? , ?)
""", (emp_2.first, emp_2.last, emp_2.pay))
conn.commit()

In [8]:
def insert_emp(emp):
    with conn:
        try:
            c.execute("""
                INSERT INTO employees (first, last, pay) VALUES (?, ?, ?)
            """, (emp.first, emp.last, emp.pay))
        except:
            return False
        else:
            return True

In [9]:
emp = Employee("Steve", "Good", 3000)
insert_emp(emp)

True

In [10]:
emp = Employee("Patrick", "Star", 5000)
insert_emp(emp)

True

In [11]:
def get_all_emps():
    try:
        c.execute("""
            SELECT * FROM employees;
        """)
    except:
        return False
    else:
        return c.fetchall()

In [14]:
emps = get_all_emps()
# print(emps)
emp_df = pd.DataFrame(emps)
emp_df.columns = ["id", "first", "last", "pay"]
print(emp_df)

   id    first  last    pay
0   1     John   Doe  10000
1   2     Jane   Doe  20000
2   3    Steve  Good   3000
3   4  Patrick  Star   5000

In [15]:
def get_emp_by_last(last):
    try:
        c.execute("""
            SELECT * FROM employees WHERE last = ?
        """, (last, ))
    except:
        return False
    else:
        return c.fetchone()

In [16]:
emp = get_emp_by_last("Star")
print(emp)

(4, 'Patrick', 'Star', 5000)