# Pandas : dataframe and series

## Dataframe

In [21]:
import pandas as pd

In [22]:
students = pd.read_csv("students.csv")

In [23]:
students.head()

   No   Nama     Kelas  Nilai
0   1   Andi  11 KOM 1    100
1   2   Budi  11 KOM 2     90
2   3  Cindi  11 KOM 2     80

In [24]:
print(type(students))

<class 'pandas.core.frame.DataFrame'>

In [25]:
students.columns

Index(['No', 'Nama', 'Kelas', 'Nilai'], dtype='object')

In [26]:
students.shape

(3, 4)

In [27]:
students.iloc[:, :3]

   No   Nama     Kelas
0   1   Andi  11 KOM 1
1   2   Budi  11 KOM 2
2   3  Cindi  11 KOM 2

## series

In [28]:
scores = students["Nilai"]
print(type(scores))

<class 'pandas.core.series.Series'>

In [29]:
scores.describe()

count      3.0
mean      90.0
std       10.0
min       80.0
25%       85.0
50%       90.0
75%       95.0
max      100.0
Name: Nilai, dtype: float64

## Case 0 : NSFG

In [30]:
from statadict import parse_stata_dict

data_file = "2015_2017_FemPregData.dat"
dict_file = "2015_2017_FemPregSetup.dct"

stata_dict = parse_stata_dict(dict_file)

nsfg = pd.read_fwf(data_file,
                  names=stata_dict.names,
                  colspecs=stata_dict.colspecs)
print(type(nsfg))
nsfg.head()

#series
pounds = nsfg["BIRTHWGT_LB1"]

<class 'pandas.core.frame.DataFrame'>

In [32]:
import numpy as np
pounds_clean = pounds.replace([98, 99], np.nan)

pounds_clean.describe()

count    6599.000000
mean        6.754357
std         1.383268
min         0.000000
25%         6.000000
50%         7.000000
75%         8.000000
max        14.000000
Name: BIRTHWGT_LB1, dtype: float64

In [39]:
weight = pounds_clean * 0.453592
weight.describe()

count    6599.000000
mean        3.063722
std         0.627439
min         0.000000
25%         2.721552
50%         3.175144
75%         3.628736
max         6.350288
Name: BIRTHWGT_LB1, dtype: float64